body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator
{
    
    width: 400px;
    border-radius: 10px;
    background-color: hsl(0, 0%,15%);
    overflow: hidden;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}
input{
    width: 90%;
    background-color: hsl(0, 0%, 25%);
    border: none;
    height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    padding: 20px;
    text-align: right;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);

    color: white;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
button:hover
{
    background-color: hsl(0, 0%, 40%);

}
button:active
{
    background-color: hsl(0, 0%, 50%);

}
.btn{
    
  background-color: hsl(35, 100%, 55%);
}
.btn:hover{
   
  background-color: hsl(35, 100%, 60%);
}
.btn:active{
  background-color: hsl(35,100%, 70%);
}

